.container{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:610px;
  height:610px;
}
.tiles{
  position:relative;
  float:left;
  width:200px;
  height:200px;
  display:flex;
  border:1px solid black;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
  font-weight: bold;

}